<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mmm">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MMM">
        <receiver
            android:name=".lecture10.Lecture10Receiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".lecture10.Lecture10"
            android:exported="true" />

        <receiver
            android:name=".Lab9Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Lecture9"
            android:exported="true" />

        <service
            android:name=".Lecture8Service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Lecture8"
            android:exported="true" />
        <activity
            android:name=".Lecture7"
            android:exported="true" />
        <activity
            android:name=".Lecture6"
            android:exported="true" />
        <activity
            android:name=".Calculator"
            android:exported="true">
            <intent-filter>
                <action android:name="CALCULATOR" />

                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lecture5"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MMM.NoActionBar" />
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>